---
// Layouts
import Layout from '../layouts/Layout.astro';
// Components
import Navbar from '../components/Navbar.astro';
// Sections
import Hero from '../sections/Hero.astro'
import About from '../sections/About.astro'
import Services from '../sections/Services.astro';

---

<Layout title="PortfolioNirojas1">
	<Navbar />
	<main>
		<Hero />
		<About />
		<Services />
	</main>
</Layout>

<style>
	
</style>
