---
import IconGithub from "../icons/IconGithub.astro";
import IconInstagram from "../icons/IconInstagram.astro";
import IconLinkedIn from "../icons/IconLinkedIn.astro";
---

<div class="social flex gap-2">
  <a href="https://www.linkedin.com/in/nestor-ignacio-rojas-guarachi-998916267/" target="_blank" rel="noopener noreferrer">
    <IconLinkedIn />
  </a>
  <a href="https://github.com/ignaccio7" target="_blank" rel="noopener noreferrer">
    <IconGithub />
  </a>
  <a href="https://www.instagram.com/nirojas1/?hl=es" target="_blank" rel="noopener noreferrer">
    <IconInstagram />
  </a>
</div>
