---
import IconGithub from "../icons/IconGithub.astro";
import IconInstagram from "../icons/IconInstagram.astro";
import IconLinkedIn from "../icons/IconLinkedIn.astro";
---

<div class="social flex gap-2">
  <IconLinkedIn />
  <IconGithub />
  <IconInstagram />
</div>