---
interface Props {
  content: string;
  emphasis: string;
  class?: string;
}

const { content, emphasis, class: className = "" } = Astro.props;
---

<h2 class={`text-step4 font-bold text-center mb-4 ${className}`}>
  {content}
  <small class="text-step4 text-third">
    {emphasis}
  </small>
</h2>

<style>
  h2 {
    animation: entry-top linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;    
  }
</style>