---
import Section from '../components/Section.astro'
import Title from "../components/Title.astro"

---

<Section name="about" class='relative'>
  <div class="profile w-full flex gap-6 items-start flex-wrap">
    <img
      class="max-w-xl max-h-96 h-auto rounded-xl w-full order-2 md:-order-1 block mx-auto object-cover object-left-center"
      src="https://unavatar.io/github/ignaccio7"
      alt="Imagen de Perfil"
    />
    <div class="content flex flex-col gap-4 basis-80 flex-1 flex-shrink-0">
      <Title content="Acerca de" emphasis="mi" class="!text-left" />      
      <p class="text-step01 leading-tight text-pretty">
        Me llamo Nestor Rojas. Actualmente estoy estudiando la carrera de <span class="text-third">Ingeniera de Sistemas</span> en la universidad de mi Ciudad. 
        Me interesa y me apasiona mucho el desarrollo web y me gusta construir sitios web y aplicaciones web. 
        También me gusta aprender nuevas tecnologías y me gusta compartir mi conocimiento con la comunidad.
        Actualmente estoy en una pasantia en una facultad de mi universidad y estoy buscando un trabajo en el que pueda mejorar las habilidades aprendidas en mi carrera.
      </p>
      <!-- <button class="btn-primary">Leer más...</button> -->
    </div>
  </div>
</Section>

<style>

  img {
    animation: entry-left linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
  }
  p {
    animation: entry linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
  }

</style>