<section class="about container w-full h-dvh flex items-center">
  <div class="profile w-full flex gap-6 items-start flex-wrap">
    <img
      class="max-w-xl h-auto rounded-xl w-full order-2 md:-order-1 block mx-auto"
      src="https://elcomercio.pe/resizer/AB93Kg1JoITGLMLkCgLBnVzg_7g=/980x528/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/37OWRM2CLBAE7BP5SXKLVMNHZE.jpg"
      alt="Imagen de Perfil"
    />
    <div class="content flex flex-col gap-4 basis-80 flex-1 flex-shrink-0">
      <h2 class="text-step4 font-bold">
        Acerca de
        <small class="text-step4 text-third">mi</small>
      </h2>
      <p class="text-step0 leading-tight text-pretty">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla vitae
        blanditiis non nostrum explicabo nam error molestias mollitia labore
        tempore accusamus pariatur numquam aliquid asperiores modi, corporis qui
        cumque nobis.
      </p>
      <button class="btn-primary">Leer más...</button>
    </div>
  </div>
</section>
