---


---

<footer class="container text-step01 text-gray flex justify-between py-10">
  <p>
    © 2024 nirojas1. Casi todos los derechos reservados.
  </p>
  <nav class="flex gap-4">
    <a href="#about">Sobre mí</a>
    <a href="#contact">Contacto</a>
  </nav>
</footer>
