---
import IconLinkedIn from "../icons/IconLinkedIn.astro";


---

<section class="services container w-full">
  <h2 class="text-step4 font-bold text-center mb-4">Mis <small class="text-step4 text-third">servicios</small></h2>
  <div class="cards grid grid-cols-1 md:grid-cols-3 gap-6">
    <div class="card w-full p-6 flex flex-col gap-4 items-center border-t-4 border-b-4 border-third rounded-xl shadow-xl">
      <IconLinkedIn />
      <h3 class="text-step2 font-semibold">Sitios Estaticos</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, suscipit! Voluptates, illum voluptatibus numquam placeat ad mollitia excepturi deleniti labore? Voluptatum repellat suscipit exercitationem quos molestias magnam est dolorum nesciunt.</p>
      <button class="btn-primary">Ir a ver mas</button>
    </div>
    <div class="card w-full p-6 flex flex-col gap-4 items-center border-t-4 border-b-4 border-third rounded-xl shadow-xl">
      <IconLinkedIn />
      <h3>Aplicaciones de una pagina</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, suscipit! Voluptates, illum voluptatibus numquam placeat ad mollitia excepturi deleniti labore? Voluptatum repellat suscipit exercitationem quos molestias magnam est dolorum nesciunt.</p>
      <button>Ir a ver mas</button>
    </div>
    <div class="card w-full p-6 flex flex-col gap-4 items-center border-t-4 border-b-4 border-third rounded-xl shadow-xl">
      <IconLinkedIn />
      <h3>Sitios Completos</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, suscipit! Voluptates, illum voluptatibus numquam placeat ad mollitia excepturi deleniti labore? Voluptatum repellat suscipit exercitationem quos molestias magnam est dolorum nesciunt.</p>
      <button>Ir a ver mas</button>
    </div>
  </div>
</section>